body {
    margin: 30px;
}

div.album {
    float: left;
    width: 300px;
    margin-right: 10px;
    min-height: 200px;
}

div.album div.description {
    padding: 5px;
}

.btn {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}