.title {
    text-align: center;
}

.boards {
    background-color: #9fe7a4;
    margin: 20px;
    height: auto;;
    width: 345px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border-radius: 5.5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transition: 200ms ease-in-out;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
    cursor: pointer;
}

.board {
    background-color: #fff;
    color: #000;
}

.boards .create-board {
    color: #fff;
}

.boards .create-board-link {
    display: flex;
}

.boards .form {
    display: none;
}

.boards .form .buttons {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.delete {
    cursor: pointer;
    display: none;
    margin-left: 10px;
    margin-top: 2px;
    color: #ff7070;
}

.create-board-link i:hover {
    font-weight: bold;;
}

.btn-cancel {
    color: #000;
}

.btn-cancel:hover {
    color: #000;
}

.remove-cursor {
    cursor: context-menu;
}

.add-cursor {
    cursor: pointer;
}